body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}
header {
    background-size: cover;
    padding: 200px;
    text-align: center;
}
main {
    width: 1024px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
h1 {
    color: white;
    font-size: 4em;
    -webkit-text-stroke: 1px grey;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    font-size: 2em;
    -webkit-text-stroke: 1px grey;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.narrow {
    padding: 10px 100px;
}

.faq-list {
    list-style: none;
    padding: 0;
}

.faq-list li {
    background: #f8f8f8;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.faq-list li strong {
    color: #0077cc;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

li {
    margin-bottom: 5px;
    padding-left: 20px;
}

li::before {
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
